.wrapper {
  padding: 50px;
  /* background-image: url(../../images/folder-cover.png);
  background-size: 110%; */
}

.title {
  margin-top: 50px;
  font-size: 29px;
  line-height: 1.2;
  letter-spacing: 0.3;
}
