.wrapper {
  /* padding: 20px; */
  background-color: #fcf9f6;
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgb(0 0 0 / 40%);
  text-align: center;
}

.title {
  font-size: 29px;
  line-height: 1.2;
  letter-spacing: 0.3;
}

.text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.3;
}
.subtext {
  margin-top: auto;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.3;
}
